@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.contact-container {
    padding: 30px; /* Increase padding for a more spacious feel */
    margin: 40px auto; /* Increase margin for more space around the container */
    background: linear-gradient(19deg, rgba(33, 212, 253, 0.5), rgba(183, 33, 255, 0.5)); /* Gradient from blue to purple with opacity */
    border-radius: 12px; /* Increase border radius for a softer look */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Increase box shadow for more depth */
    max-width: 800px; /* Increase max-width for a larger container */
    min-width: 400px; /* Ensure the container doesn’t get too small */
    max-height: 1000px;
    min-height: 600px;
    text-align: left;
    animation: fadeIn 2s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

.contact-container h2 {
    margin-top: 0;
    text-align: center; /* Center the header */
    font-size: 40px;
    position: relative;
}

.contact-container h2::after {
    content: '';
    display: block;
    width: 50%;
    height: 5px;
    background: linear-gradient(19deg, #4A0072, #00BFFF);
    margin: 10px auto 0;
    border-radius: 5px;
    animation: fadeIn 2s ease-in-out;
    opacity: 0;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.contact-container p {
    margin: 15px 0; /* Increase margin for better spacing */
    text-align: center; /* Center the introductory text */
}

.contact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px; /* Increase padding for more space between items */
    border-bottom: 1px solid #ddd; /* Light border for separation */
}

.contact-item:last-child {
    border-bottom: none; /* Remove the last item's bottom border */
}

.contact-item span {
    font-weight: bold; /* Bold labels for emphasis */
    color: white;
}

.contact-item a {
    color: white; /* Dark Blue */
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: #003366; /* Even Darker Blue */
    text-decoration: underline;
}

.contact-para {
    color: white;
    font-size: 25px;
    font-family: Roboto;
}

.contact-header {
    font-size: 40px;
}

/* Media queries */

/* Mobile styles */
@media (max-width: 600px) {
    .contact-container {
        padding: 20px;
        margin: 20px auto;
        max-width: 100%;
        min-width: auto;
    }

    .contact-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .contact-para {
        font-size: 20px;
    }

    .contact-header {
        font-size: 30px;
    }
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
    .contact-container {
        padding: 25px;
        margin: 30px auto;
        max-width: 90%;
    }

    .contact-item {
        padding: 25px;
    }

    .contact-para {
        font-size: 23px;
    }

    .contact-header {
        font-size: 35px;
    }
}
