.header {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    padding: 20px;
    color: white;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between elements */
}

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.menu-btn:focus {
    outline: none;
}

.home-btn {
    color: white;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust this to position it on the right */
}

.home-btn:hover {
    color: #ccc; /* Lighter color on hover */
}
