/* Landing.css */
.landing-page {
    position: relative;
    text-align: center;
    padding: 20px 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(180deg, #4A0072 0%, #00BFFF 100%);
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

.landing-page h1 {
    font-size: 2.5em;
    margin: 10px 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeIn 2s ease-in-out;
}

.landing-page p {
    font-size: 1.2em;
    margin: 10px 0 20px;
    color: #ffffff;
    animation: fadeIn 2s ease-in-out 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    animation: fadeIn 2s ease-in-out 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.grid-item {
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    background: rgba(0, 115, 230, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.grid-item:hover {
    background: rgba(0, 115, 230, 1);
    transform: translateY(-5px);
}

.grid-item h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
}

.grid-item:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.dot {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    animation: float 4s ease-in-out infinite;
    opacity: 0.6;
}

.dot1 { width: 15px; height: 15px; top: 20%; left: 25%; animation-delay: 0s; }
.dot2 { width: 20px; height: 20px; top: 60%; left: 70%; animation-delay: 2s; }
.dot3 { width: 10px; height: 10px; top: 40%; left: 50%; animation-delay: 1s; }
.dot4 { width: 25px; height: 25px; top: 10%; left: 80%; animation-delay: 3s; }
.dot5 { width: 18px; height: 18px; top: 70%; left: 30%; animation-delay: 1.5s; }
.dot6 { width: 15px; height:5px; top:80%; left:10%; animation-delay: 2.5s;}
