body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(180deg, #4A0072 0%, #00BFFF 100%);
  color: #000000; /* Black */
  height: 100vh;
}

.App {
  text-align: center;
}

.header {
  background: linear-gradient(19deg, rgba(183, 33, 255, 0.5), rgba(33, 212, 253, 0.5)); /* Reversed gradient from purple to blue with opacity */
  padding: 20px;
  color: white;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav a {
  color: blue;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
  background-color: #1565C0; /* Darker Blue */
  transform: scale(1.1);
}

.section {
  padding: 50px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.section:hover {
  transform: scale(1.05);
}

.project {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0;
  background-size: cover;
  background-position: center;
  color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-title {
  font-weight: bold;
  font-size: 1.4em;
}

a {
  color: #1E88E5; /* Bright Blue */
}

a:hover {
  color: #1565C0; /* Darker Blue */
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  margin: 20px 0;
}
